<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Visualização 1</title>
</head>
<body>
    <h1>Login</h1>
    <p>Esta é a primeira visualização do seu aplicativo.</p>
    <p>Você pode personalizar esta página de acordo com as necessidades do seu projeto.</p>
    <a href="/main">Ir para a Main</a> <!-- Um link para navegar para a Visualização 2 -->
</body>
</html>
