<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <h1>Bem-vindo à Página Principal</h1>
        <p>Esta é a página inicial do seu site.</p>
    </header>
    
    <main>
        <section>
            <h2>Seção 1</h2>
            <p>Esta é a primeira seção de conteúdo da página.</p>
        </section>
        
        <section>
            <h2>Seção 2</h2>
            <p>Esta é a segunda seção de conteúdo da página.</p>
        </section>
    </main>
    
    <footer>
        <p>Rodapé da página</p>
    </footer>
</body>
</html>
