<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Visualização 2</title>
</head>
<body>
    <h1>Main</h1>
    <p>Esta é a primeira visualização do seu aplicativo.</p>
    <p>Você pode personalizar esta página de acordo com as necessidades do seu projeto.</p>
</body>
</html>
